<ion-view title="131" id="page2" class="">
        <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="lighten-3">
        <h5 style="margin-bottom:20px"> Мои талоны:</h5>
        
        

        
        
        <div id="131-container3" class="card horizontal">
            <div class="card-image"> <img  style="width:auto; height:auto" src="img/bg_main.png"> </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>УЗИ</h4>
                    <p>Органы брюшной полости</p>
                </div>
                <div class="card-action"> <b>18.99 BYN</b> </div>
            </div>
        </div>
        
        <div id="131-container3" class="card horizontal">
            <div class="card-image"> <img  style="width:auto; height:auto" src="img/bg_main.png"> </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>УЗИ</h4>
                    <p>Органы брюшной полости</p>
                </div>
                <div class="card-action"> <b>18.99 BYN</b> </div>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 16px;"></div> <a ui-sref="menu.page5" id="131-button1" style="width:100%" class="waves-effect waves-light btn-large red darken-1">Заказать талон</a> </ion-content>
</ion-view>