<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar" id="menu-list-item4">
          <h2>Имя Пользователя</h2>
        </ion-item>
        <div class="item item-body" id="menu-list-item-container1">
          <h2 id="menu-heading2" style="color:#000000;font-weight:600;">Ближайший талон</h2>
          <div id="menu-markdown7" class="show-list-numbers-and-dots myclass1">
            <p style="color:#000000;">Услуга 1 </p>

            <p style="color:#000000;">18:00 (10/12/2016)</p>
          </div>
          <div class="spacer" style="width: 236px; height: 20px;"></div>
        </div>
        <ion-item class="item-icon-left" id="menu-list-item34" ui-sref="menu.131" menu-close="">
          <i class="icon ion-ionic"></i>Талоны</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item35">
          <i class="icon ion-ionic"></i>Что болит?</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item36" ui-sref="menu.page5" menu-close="">
          <i class="icon ion-ionic"></i>Пациенты</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item37">
          <i class="icon ion-ionic"></i>Сообщения</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item38">
          <i class="icon ion-ionic"></i>Каталог услуг</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item39">
          <i class="icon ion-ionic"></i>МедТакси</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item40">
          <i class="icon ion-ionic"></i>FAQ</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>