<ion-view title="Выбор пациента" id="page5">
        <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content padding="true" class="has-header">
      
    <ion-list id="page5-list10" class="card horizontal">
      <ion-item class="item-avatar" id="page5-list-item59"  ui-sref="menu.page3">
          <img  style="width:auto; height:auto" src="img/bg_main.png">
        <h2>Имя Пользователя</h2>
        <p>Это вы</p>
      </ion-item>
    </ion-list>
      
    <ion-list id="page5-list11" class="card horizontal">
      <ion-item class="item-avatar" id="page5-list-item60" ui-sref="menu.page3">
          <img  style="width:auto; height:auto" src="img/bg_main.png">
        <h2>Любимая Бабуля</h2>
        <p style="white-space:normal;">Иностранец</p>
      </ion-item>
    </ion-list>
      
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <ion-list id="page5-list14">
      <ion-item class="item-icon-left" id="page5-list-item61">
        <i class="icon ion-ios-plus"></i>Добавить пациента</ion-item>
    </ion-list>
  </ion-content>
</ion-view>