<ion-view title="Название услуги" id="page12">
        <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <ion-list id="page12-list9">
      <ion-item class="item-icon-left" id="page12-list-item47">
        <i class="icon ion-cash"></i>Стоимость</ion-item>
      <ion-item class="item-icon-left" id="page12-list-item48">
        <i class="icon ion-location"></i>Местоположение</ion-item>
      <ion-item class="item-icon-left" id="page12-list-item49">
        <i class="icon ion-ios-calendar-outline"></i>Дата</ion-item>
      <ion-item class="item-icon-left" id="page12-list-item50">
        <i class="icon ion-home"></i>Мед. учреждение</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <ion-list id="page12-list12">
      <ion-item class="item-thumbnail-left" id="page12-list-item51" ui-sref="menu.page4">
        <h2>Услуга 1 </h2>
        <p style="white-space:normal;"> 18:00 (10.12.2016) Информация о талоне. Цена 18.99 BYN</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <ion-list id="page12-list17">
      <ion-item class="item-thumbnail-left" id="page12-list-item56" ui-sref="menu.page4">
        <h2>Услуга 2 </h2>
        <p style="white-space:normal;"> 18:00 (10.12.2016) Информация о талоне. Цена 18.99 BYN</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <ion-list id="page12-list18">
      <ion-item class="item-thumbnail-left" id="page12-list-item58" ui-sref="menu.page4">
        <h2>Услуга 3 </h2>
        <p style="white-space:normal;"> 18:00 (10.12.2016) Информация о талоне. Цена 18.99 BYN</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>