<ion-view title="Талон" id="page4">
        <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-share-alt"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/EKPjrJoaSXq0vfFcaUOg_.PNG" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.page6" id="page4-button5" style="font-weight:500;border-radius:80px 80px 80px 80px;" class="button button-positive  icon-right ion-android-add-circle">Заказать талон</a>
    <ion-list id="page4-list26">
      <ion-item class="item-icon-left" id="page4-list-item74">
        <i class="icon ion-ionic"></i>Услуга</ion-item>
      <ion-item class="item-icon-left" id="page4-list-item69">
        <i class="icon ion-android-person"></i> Врач (ФИО)</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <ion-list id="page4-list25">
      <ion-item class="item-icon-left" id="page4-list-item71">
        <i class="icon ion-android-home"></i>УЗ (адрес)</ion-item>
      <ion-item class="item-icon-left" id="page4-list-item75">
        <i class="icon ion-cash"></i>18.54 BYN</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <ion-list id="page4-list29">
      <ion-item class="item-icon-left" id="page4-list-item76">
        <i class="icon ion-ios-calendar-outline"></i>10 / 12 / 2016</ion-item>
      <ion-item class="item-icon-left" id="page4-list-item77">
        <i class="icon ion-android-alarm-clock"></i>18 : 15</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
  </ion-content>
</ion-view>