<ion-view title="Результат" id="page6">
        <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 53px;"></div>
    <div id="page6-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Талон добавлен в личный кабинет</p>
    </div>
    <div class="spacer" style="width: 300px; height: 53px;"></div>
    <a ui-sref="menu.131" id="page6-button6" class="button button-positive  button-block">Перейти к списку талонов</a>
  </ion-content>
</ion-view>